<link rel="stylesheet" href="/css/footer.css">
<div class="footer">
    {{!-- <p>Made with ❤ at Make School</p> --}}
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="#">Learn more</a></li>
  <li><a href="mailto:erikbatista42@gmail.com">Contact us</a></li>
  <li><a href="https://github.com/carfew/carfew">Github</a></li>
</ul>

</div>
