<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">

<style type="text/css">

.footer {
    background-color: #8C97D9;
    position: absolute;
    left: 0px;
    right: 0px;
    line-height: 40px;
}

p {
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto-bold', sans-serif;
    color: white;
}
</style>

<div class="footer">
    <p>Made with ❤ in San Francisco</p>
</div>
