<style type="text/css">

.navBar {
    text-align: center;
    color: white;
    font-size: 24px;
}

.firstLine {
    height: 1px;
    width: 100%;
    background-color: #9B9B9B;
    text-align: center;
}
</style>


<div class="navBar">
    <h1 id="title">Carfew</h1>
    <div class="firstLine"></div>
</div>
