<style type="text/css">

.navBar {
    text-align: center;

    font-size: 24px;
}

h1 {
   color: #8C97D9;
}

.firstLine {
    height: 1px;
    width: 100%;
    background-color: #9B9B9B;
    text-align: center;
}
a {
    text-decoration: none;
}
</style>

<div class="navBar">
    <a href="/"><h1 id="title"><img src="/favicon_carfew.png"> Carfew</h1></a>

    <div class="firstLine"></div>
</div>
