<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carfew - Fewer cars, more friends 🤝</title>
        <link rel="shortcut icon" type="image/png" href="img/favicon_carfew.png"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    </head>
    <body>
        {{>navbar}}
        {{{body}}}
        <br>
        <br>
        <br>
        <br>
        {{>footer}}
    </body>
</html>
