<!-- Importing dashboard css since this is the only file that uses it -->
<link rel="stylesheet" href="/css/dashboard.css">
<div class="row">
    <div class="scroll-box col-md-6">
        scroll box
    </div>

    <div class="scroll-box col-md-6">
        scroll box
    </div>
</div>

<br><br><br>
<div class="userInfo">
    <h2>Hello {{user.username}}!</h2>
    <p id="firstName">{{user.firstName}}</p>
    <p id="lastName">{{user.lastName}}</p>
    <br>
    <button id="editBtn">edit</button>
    <br>
    <button>Logout</button>
    <br><br><br>
    <button>Delete Account</button>
</div>
