<!-- Importing dashboard css since this is the only file that uses it -->
<link rel="stylesheet" href="/css/dashboard.css">

<br><br><br>
<div class="userInfo">
    <p id="firstName">FirstName</p>
    <p id="lastName">LastName</p>
    <br>
    <button id="editBtn">edit</button>
    <br>
    <button>Logout</button>
    <br><br><br>
    <button>Delete Account</button>
</div>
