
<body>

<div class="footer">
<ul>
  <li><a href="/">HOME</a></li>
  <li><a href="/app">RIDES</a></li>
  <li><a href="/login">LOGIN</a></li>
  <li><a href="/signup">SIGN UP</a></li>
  <li><a href="/users/{{user._id}}">PROFILE</a></li>
  <li><a href="logout">LOGOUT</a></li>

  <!-- <div class="dropdown">
  <input class="dropdown-toggle" type="text">
  <div class="dropdown-text">Profile</div>
  <ul class="dropdown-content">
    <li><a href="#">Settings</a></li>
    <li><a href="#">Rides</a></li>
    <li><a href="#">Log out</a></li>
  </ul>

</div> -->
</ul>
</div>
<br><br><br>
<div class="userInfo">
    <p id="firstName">FirstName</p>
    <p id="lastName">LastName</p>
    <br>
    <button id="editBtn">edit</button>
    <br>
    <button>Logout</button>
    <br><br><br>
    <button>Delete Account</button>
</div>
