<style type="text/css">
a {
    color: blue;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}
</style>
<a href="/login" style="color: blue;">login</a>
<br>
<a href="/sign-up" style="color: blue;">sign-up</a>
<br>
<a href="/app" style="color: blue;">app (must be signed in)</a>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

