<div id="loginBox">
    <input type="text" placeholder="Email">
    <br>
    <input type="text" placeholder="Password">
    <br>
    <button>Login</button>
    <p>Forgot Password?<span style="color: #0000a0"><a href="#"> Reset</a></span></p>

    <p>Don't have an account?<span style="color: #0000a0"><a href="#"> Sign up</a></span></p>
</div>
