{{!-- <link rel="stylesheet" type="text/css" href="login.css"> --}}

<style type="text/css">

body {
    background-color: orange;
}

.navBar {
    background-color: blue;
    text-align: center;
    color: white;
}

.formy {
    text-align: center;
}


</style>

<div class="navBar">
    <h1>Carfew</h1>
</div>


<form class="formy" action="/login" method="POST">

    <p>To continue, login to Carfew.</p>

    <div id="loginBox">
        <input name="username" type="text" placeholder="Username" required>
        <br>
        <input name="password" type="password" placeholder="Password" required>
        <br>
        <button type="submit">Login</button>
        <!-- <p>Forgot Password?<span style="color: #0000a0"><a href="#"> Reset</a></span></p> -->

        <p>Don't have an account?<span style="color: #0000a0"><a href="/sign-up"> Sign up</a></span></p>
    </div>
</form>
