<style type="text/css">

body {
    font-family: 'Roboto', sans-serif;
}

#title {
    color: #8C97D9;
}

#infoLabel {
    color: #4a4a4a;
    font-family: 'Roboto-bold', sans-serif;
    font-size: 24px;
}

.formy {
    text-align: center;
}

#firstName, #lastName, #username, #email, #phone, #password {
    font-size: 24px;
    width: 407px;
    height: 61px;
    border-radius: 10px;
    border: 1px solid #4a4a4a;
    outline: none;
}

#firstName::placeholder, #lastName::placeholder, #username::placeholder, #email::placeholder, #phone::placeholder, #password::placeholder {
    color: #9B9B9B;
    position: fixed;
    float: left;
    padding-left: 8px;
}

#submit {
    background-color: #8C97D9;
    color: white;
    width: 407px;
    height: 61px;
    border-radius: 27px;
    border: 1px solid white;
    font-size: 23px;
    font-family: 'Roboto-bold', sans-serif;
}

#alreayHaveAnAccount {
    color: #4a4a4a;
    font-family: 'Roboto-bold', sans-serif;
    font-size: 24px;
}

</style>

<!--HTML-->

<form class="formy" action="/sign-up" method="POST">

    <p id="infoLabel">Sign up with your email address</p>

    <div id="registerBox">
        <input id="firstName" name="firstName" type="text" placeholder="First Name" required>
        <br>
        <br>
        <input id="lastName" name="lastName" type="text" placeholder="Last Name" required>
        <br>
        <br>
        <!-- User will be able to login using email, phone number or username
            so we need all three when they register -->
        <input id="username" name="username" type="text" placeholder="Username" required>
        <br>
        <br>
        <input id="email" name="email" type="email" placeholder="Email Address" required>
        <br>
        <br>
        <input id="phone" name="phone" type="tel" placeholder="Phone Number" required>
        <br>
        <br>
        <input id="password" name="password" type="password" placeholder="Password" required>
        <br>
        <br>
        <button id="submit" type="submit">SIGN UP</button>
        <br>
        <br>
        <p id="alreayHaveAnAccount">Already have an account?<span style="color: #8C97D9"><a style="color: #8C97D9; text-decoration: none;" href="/login"> Log in</a></span></p>
    </div>
</form>
