<div id="registerBox">
    <input type="text" placeholder="Full Name">
    <br>
    <input type="text" placeholder="Username">
    <br>
    <input type="text" placeholder="Email">
    <br>
    <input type="text" placeholder="Password">
    <br>
    <button>Register</button>

    <p>Have an account?<span style="color: #0000a0"><a href="#"> Login</a></span></p>
</div>
